#filters {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-left: 10px;
  margin: 5px 10px 20px;
  margin: ;
}

.box {
  margin-bottom: 20px;
  padding: 5px;
  border-style: solid;
  border-color: #7b8a8b;
  background-color: rgba(0,0,0,0.03);
  color: #212529;
  border-radius: .25rem;
}

#diag-box {
	border-width: 1px;
	padding: 10px;
}

#confirmed-box {
  background-color: #ca0020;
  padding-left: 40px;
  color: white;
}

#presumptive-box {
  background-color: #f4a582;
  padding-left: 40px;
  color: black;
}

#noevidence-box {
  background-color: #92c5de;
  padding-left: 40px;
  color: black;
}